---
import PageLayout from '../layouts/PageLayout.astro'
const { title = 'About' } = Astro.props
---
<PageLayout>
    <section>
        <h2>About us</h2>
    </section>
</PageLayout>

<style>
    .author {
        @apply flex flex-col w-full
    }
    h2 {
      @apply text-3xl font-bold py-4
    }
</style>