---
import PageLayout from '../layouts/PageLayout.astro'
const title = 'Home'
---
<PageLayout>
    <section>
        <h2>Contact</h2>
    </section>
</PageLayout>

<style>
    h2 {
      @apply text-3xl font-bold py-4
    }
</style>