---
import PageLayout from '../layouts/PageLayout.astro'
import { Markdown } from 'astro/components';
const title = 'Home'
---
<PageLayout>
    <article>
    <h2>Basic Layout n° 2</h2>
    <p>texte</p>
    </article>
    <section>
      <Markdown>
      ## Layout Structure
    ┌──────────────────────
    │ layouts/PageLayout.astro
    │ ┌────────────────────
	│ │ components/BaseHead.astro
	│ └────────────────────
	│ ┌────────────────────
	│ │ components/BaseBody.astro
	│ │ ┌──────────────────
	│ │ │ components/MainHeader.astro
	│ │ │ ┌────────────────
	│ │ │ │ components/Nav.astro
	│ │ │ └────────────────
	│ │ └──────────────────
	│ │ ┌──────────────────
	│ │ │ pages/index.astro
	│ │ │ (slot)
	│ │ │
	│ │ │
	│ │ │
	│ │ └──────────────────
    │ │ ┌──────────────────
	│ │ │ components/MainFooter.astro
	│ │ └──────────────────
    │ └────────────────────
    └──────────────────────
      </Markdown>
    </section>
</PageLayout>

<style>
    h2 {
      @apply text-3xl font-bold py-4
    }
    li {
        @apply mx-6 list-disc
    }
    section {
        @apply font-mono
    }
</style>