
<footer class="flex items-center">
    <p>Footer information, copyright, <a href="https://www.semrush.com/blog/semantic-html5-guide/">webpage</a>, etc.</p>
    <nav>
        <a href="#">Jobs</a>
        <a href="#">Products</a>
        <a href="#">Legal</a>
    </nav>
</footer>

<style>
nav a {
    @apply hover:underline font-semibold px-4
}
</style>