---
import Nav from './Nav.astro'
---
<header>
    <div class="flex">
        <img src="logo.svg" alt="logo" class="h-12"><h1>Company Name</h1>
    </div>
    <Nav />
</header>

<style>
    h1 {
      @apply text-4xl font-bold px-4
    }
</style>